<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200">
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="streetAddress" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="state" for="state" />
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Name:" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{customer.name}" title="name" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="Gender:" for="gender" />
                        </td>
                        <td>
                            <h:inputText id="Gender" value="#{customer.gender}" title="Gender" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="BoughtPrice:" for="boughtPrice" />
                        </td>
                        <td>
                            <h:inputText id="BoughtPrice" value="#{customer.boughtPrice}" title="BoughtPrice" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="IndustryType:" for="industryType" />
                        </td>
                        <td>
                            <h:inputText id="IndustryType" value="#{customer.industryType}" title="IndustryType" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Age:" for="age" />
                        </td>
                        <td>
                            <h:inputText id="Age" value="#{customer.age}" title="Age" />
                        </td>

                    </tr>

                </table>

                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" />
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />

            </h:form>

        </f:view>
            </div>
        </div>

    </h:body>
</html>
