<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add CustomerContact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200">
                            <h:outputLabel value="title" for="title" />
                        </td>
                        <td>
                            <h:inputText id="title" value="#{customerContact.title}" title="title" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="homePhone" for="homePhone" />
                        </td>
                        <td>
                            <h:inputText id="homePhone" value="#{customerContact.homePhone}" title="homePhone" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="workPhone" for="workPhone" />
                        </td>
                        <td>
                            <h:inputText id="workPhone" value="#{customerContact.workPhone}" title="workPhone" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="email" for="email" />
                        </td>
                        <td>
                            <h:inputText id="email" value="#{customerContact.email}" title="email" />
                        </td>

                    </tr>
                   

                </table>

                <h:commandButton id="submit" value="Submit" action="#{addCustomerContact.addCustomerContact(customerContact)}" class="btn btn-primary" />
                <h:link id="close" value="Close" outcome="faces/customerContactIndex.xhtml"
						          class="btn btn-primary" />

            </h:form>

        </f:view>
            </div>
        </div>

    </h:body>
</html>
