<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>CustomerContact Detail</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    CustomerContact Detail
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">customerContactId:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">tile:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "title" >#{customerContactController.customerContact.title}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">homePhone: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "homePhone" >#{customerContactController.customerContact.homePhone}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">workPhone: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "workPhone" >#{customerContactController.customerContact.workPhone}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">email: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "email" >#{customerContactController.customerContact.email}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="faces/customerContactIndex.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

