<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>FIT5042 Assignment</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    CustomerContact List
                    
                   
                </div>
            </div>
            
 <ul>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  
}

li a {
  display: block;
  padding: 8px;
  background-color: hsl(89, 43%, 51%);
}
</style>
  <li><a href="faces/customerContactIndex.xhtml"><button>View Customer Contact </button></a></li>
  <li><a href="faces/index.xhtml"><button>View Customer list</button></a></li>
  
</ul>
		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<!-- For each Customer in customers ArrayList... -->
				<tr>
					<td><h:outputLabel id="customerContactId" value="customerContactId" /></td>

					<td><h:outputLabel id="title" value="title" /></td>

					<td><h:outputLabel id="homePhone" value="homePhone" /></td>

					<td><h:outputLabel id="workPhonr" value="workPhone" /></td>
		
					<td><h:outputLabel id="email" value="email" /></td>

				</tr>
				
				<ui:repeat id="Myrepeat" value="#{customerContactApplication.customerContacts}"
					var="customerContact" varStatus="status">

					<tr
						onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
						<td><h:outputText
								value="#{customerContactApplication.customerContacts.get(status.index).customerContactId}"
								id="customerID" /></td>
						<td><h:outputText id="outTitle"
								value="#{customerContactApplication.customerContacts.get(status.index).title}"></h:outputText>
						</td>
						<td><h:outputText id="outHomePhone"
								value="#{customerContactApplication.customerContacts.get(status.index).homePhone}"></h:outputText>
						</td>
						<td><h:outputText id="workPhone"
								value="#{customerContactApplication.customerContacts.get(status.index).workPhone}"></h:outputText>
						</td>
						<td><h:outputText id="email"
								value="#{customerContactApplication.customerContacts.get(status.index).email}"></h:outputText>
						</td>
						<td><h:link value="View | " outcome="faces/customerContactDetail.xhtml">
								<!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
								<f:param name="customerContactID" value="#{status.index + 1}" />
							</h:link> <h:link value="Edit | " outcome="faces/editCustomerContact.xhtml">
								<!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
								<f:param name="customerContactID" value="#{status.index + 1}" />
							</h:link> <h:commandLink value="Delete"
								action="#{removeCustomerContact.removeCustomerContact(customerContactApplication.customerContacts.get(status.index).customerContactId)}"
								disabled="#{customerContactApplication.customerContacts.get(status.index).customerContactId == null}">
							</h:commandLink> <h:outputText value=" " /></td>

					</tr>

				</ui:repeat>
				</table>
				
				<div>
				<h:commandButton id="add" value="Add" action="addCustomerContact.xhtml"
					class="btn btn-primary" />

				<h:commandButton id="viewAll" value="View All"
					action="#{searchCustomerContact.searchAll()}" class="btn btn-primary">
					<f:param name="customerContactID" value="#{status.index + 1}" />
				</h:commandButton>
			</div>
			<div>
				<h:inputText value="#{searchCustomerContact.searchByInt}" id="searchById"
					required="true"
					onchange="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} " />
				<h:commandButton id="searchId" value="Search by Id"
					action="#{searchCustomerContact.searchCustomerContactById(searchCustomerContact.searchByInt)}"
					class="btn btn-primary">
					<f:param name="customerContactID" value="#{status.index + 1}" />
				</h:commandButton>
				
			</div>
			</h:form>	
			
        </div>
    </h:body>
</html>