<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - customerContact Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">title: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "title" value="#{customerContactController.customerContact.title}"  required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">homePhone: </td>

                        <td valign="bottom">
                            <h:inputText id = "homePhone" value="#{customerContactController.customerContact.homePhone}"  required="true"
                                         validatorMessage="more than 2 charactor"
                                                 requiredMessage="Please enter name. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">workPhone: </td>

                        <td valign="bottom">
                            <h:inputText id = "workPhone" value="#{customerContactController.customerContact.workPhone}"  required="true"
                                         validatorMessage="Please enter Male or Female"
                                                 requiredMessage="Please enter gender. ">

                            </h:inputText>

                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">email: </td>

                        <td valign="bottom">
                            <h:inputText id = "email" value="#{customerContactController.customerContact.email}"  required="true"
                                         validatorMessage="Please enter a value greater than 0.0"
                                                 requiredMessage="Please enter a boughtPrice. ">
                                                 
                                
                                                 </h:inputText>
                        </td>
                    </tr>
                    
                </table>

                <h:commandButton id="save" value="Save" action="#{customerContactManagedBean.editCustomerContact(customerContactController.customerContact)}"  class="btn btn-primary" >
                    <f:param name="customerContactID" value="#{customerContactController.customerContactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/customerContactIndex.xhtml"
						          class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
