<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - customer Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                         the value below is for display
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">name: </td>

                        <td valign="bottom">
                            <h:inputText id = "name" value="#{customerController.customer.name}"   required="true" 
                            
                                         validatorMessage="more than 2 charactor"
                                                 requiredMessage="Please enter name. "></h:inputText>
                                         
                        </td>
                        
                    </tr>

                    <tr>
                        <td width ="100" valign="top">gender: </td>

                        <td valign="bottom">
                            <h:inputText id = "gender" value="#{customerController.customer.gender}"  required="true"
                                         validatorMessage="Please enter Male or Female"
                                                 requiredMessage="Please enter gender. ">

                            </h:inputText>

                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">boughtPrice: </td>

                        <td valign="bottom">
                            <h:inputText id = "BoughtPrice" value="#{customerController.customer.boughtPrice}"  required="true"
                                         validatorMessage="Please enter $ and money"
                                                 requiredMessage="Please enter a boughtPrice. ">
                                                 
                                 <f:convertNumber currencySymbol = "$" type = "currency"/>
                                  
                                                 </h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">industryType: </td>

                        <td valign="bottom">
                            <h:inputText id = "industryType" value="#{customerController.customer.industryType}"  required="true"
                                         validatorMessage="Please enter a value greater than 0.0"
                                                 requiredMessage="Please enter a industryType. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">age: </td>

                        <td valign="bottom">
                            <h:inputText id = "age" value="#{customerController.customer.age}"  required="true"
                                         validatorMessage="Please enter a value greater than 0"
                                                 requiredMessage="Please enter age. "></h:inputText>
                        </td>
                    </tr>
                    

                </table>

                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
