<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>FIT5042 Assignment</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer List
                    

                </div>
            </div>
           
<ul>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

li {
  float: left;
  
}

li a {
  display: block;
  padding: 8px;
  background-color: hsl(89, 43%, 51%);
}
</style>
  <li><a href="faces/customerContactIndex.xhtml"><button>View Customer Contact</button></a></li>
  <li><a href="faces/index.xhtml"><button>View Customer list</button></a></li>
  
</ul>
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="name" value="name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="age" value="age"/>
                            </td>
                            
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="name" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="age" value="#{customerApplication.customers.get(status.index).age}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/customerDetail.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/edit.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                <div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
				<h:inputText value="#{searchCustomer.searchByInt}" id="searchById"
					required="true"
					onchange="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} " />
				<h:commandButton id="searchId" value="Search by Id"
					action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}"
					class="btn btn-primary">
					<f:param name="customerID" value="#{status.index + 1}" />
				</h:commandButton>
			</div>
                
                
            </h:form>
            
            
					
        </div>
    </h:body>
</html>

